{% extends 'admin_panel/base.html' %}

{% load static %}

{% load custom_tags %}

{% block additional_styles %}
<!-- JQuery DataTable CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendors/jquery-datatable/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendors/jquery-datatable/buttons.dataTables.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'vendors/jquery-datatable/datatable-custom.css' %}" />
{% endblock %}

{% block head_title %}
{% block page_short_title %}
{% block breadcrumb %}
{{ page_short_title }}
{% endblock %}
{% endblock %}
{% endblock %}
{% block page_title %}
{{ page_title }}
{% endblock %}


{% block content %}


{% if can_view == True %}

{% autoescape off %}

<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0 text-center">
                    <h3 class="mb-0">
                        {% if not display_name == None %}
                        {{ display_name }}
                        {% else %}
                        {{ namespace|to_title }} List
                        {% endif %}
                    </h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table id="list-datatable" class="display table align-items-center table-flush table-hover"
                        style="width:100%">
                        <thead class="thead-dark">
                            <tr class="text-center">
                                {% if not update_url == None or not detail_url == None or not delete_url == None %}
                                <th>Action</th>
                                {% endif %}
                                <th>#</th>
                                {% for key, value in fields.items %}
                                {% if not key in fields_to_hide_in_table %}
                                <th>{{ value|remove_id|title }}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody class="list">

                            <!-- table body -->
                            {% for object in list_objects %}
                            <tr class="text-center">
                                
                                {% if not update_url == None or not detail_url == None or not delete_url == None %}
                                <td style="width:14%">
                                    <!-- update url -->
                                    {% if not update_url == None and can_change == True %}
                                    {% if not object.slug == None %}
                                    <a href="{% url update_url slug=object.slug %}"
                                        class="btn btn-primary btn-sm text-deco-none">
                                        <span class="">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    {% else %}
                                    <a href="{% url update_url id=object.id %}"
                                        class="btn btn-primary btn-sm text-deco-none">
                                        <span class="">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                    {% endif %}

                                    {% if not detail_url == None and can_view == True %}
                                    {% if not object.slug == None %}
                                    <a href="{% url detail_url slug=object.slug %}"
                                        class="btn btn-info btn-sm text-deco-none">
                                        <span class="">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    {% else %}
                                    <a href="{% url detail_url id=object.id %}"
                                        class="btn btn-info btn-sm text-deco-none">
                                        <span class="">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                    {% endif %}

                                    {% if not delete_url == None and can_delete == True %}
                                    {% if not object.slug == None %}
                                    <button type="button"
                                        class="btn btn-danger btn-sm text-deco-none bg-c-danger m-1 js_delete_{{namespace}}"
                                        value="{{object.slug}}" data-toggle="modal"
                                        data-target="#modal-delete-{{namespace}}">
                                        <i class="fas fa-trash-alt" ></i>
                                    </button>
                                    {% else %}
                                    <button type="button"
                                        class="btn btn-danger btn-sm text-deco-none bg-c-danger m-1 js_delete_{{namespace}}"
                                        value="{{object.id}}" data-toggle="modal"
                                        data-target="#modal-delete-{{namespace}}">
                                        <i class="fas fa-trash-alt" ></i>
                                    </button>
                                    {% endif %}
                                    {% endif %}

                                </td>
                                {% endif %}

                                <th>{{ forloop.counter }}</th>

                                {% for label, value, field_type in object.get_fields %}

                                {% if not label in fields_to_hide_in_table %}

                                {% if field_type in 'ImageField, FileField' %}

                                <td>
                                    {% if not value.url == None and not value == None and value != "" %}
                                    
                                    {% if value.url|get_file_type == "image" %}
                                    <img class="img-thumbnail ez-view m-2" src="{{ value.url }}" alt="{{ value }}"
                                        style="height:70px;width:70px;">
                                    {% elif value.url|get_file_type == "pdf" %}
                                    <img class="ez-view m-2" style="height:70px;width:70px" src="{% static 'assets/images/icons/pdf.png' %}"
                                        href="{{ value.url }}" alt="{{ object.title }}">
                                    {% elif value.url|get_file_type == "document" %}
                                    <iframe class="doc img-thumbnail m-2" height="50" width="330"
                                        src="http://docs.google.com/gview?url={{request.scheme}}://{{ request.get_host }}{{ value.url }}&embedded=true">
                                    </iframe>
                                    {% else %}
                                    <span>{{ value.url }}</span>
                                    {% endif %}
                                    {% else %}
                                    ---
                                    {% endif %}
                                </td>

                                {% elif field_type in 'TextField' %}
                                <td>
                                    {{ value|truncate_word:30|remove_html_tags }}
                                </td>

                                {% elif field_type in 'BooleanField' %}
                                <td>
                                    {% if value == True %}
                                    <h3><i class="fas fa-check-circle text-success fw-bold"></i></h3>
                                    {% else %}
                                    <h3><i class="fas fa-times-circle text-danger fw-bold"></i></h3>
                                    {% endif %}
                                </td>

                                {% else %}

                                {% if value == None or value == "" %}
                                <td>--</td>
                                {% else %}
                                <td>{{ value }}</td>
                                {% endif %}
                                {% endif %}

                                {% endif %}

                                {% endfor %}

                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="{{ fields_count }}" class="text-center">
                                    <div class="alert alert-warning">
                                        No item found!
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>

                        <tfoot class="thead-dark">
                            <tr class="text-center">
                                {% if not update_url == None or not detail_url == None or not delete_url == None %}
                                <th>Action</th>
                                {% endif %}
                                <th>#</th>
                                {% for key, value in fields.items %}
                                {% if not key in fields_to_hide_in_table %}
                                <th>{{ value|remove_id|title }}</th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endautoescape %}

{% endif %}

{% if not delete_url == None and can_delete == True %}
{% include 'admin_panel/snippets/delete-modal.html' %}
{% endif %}

{% endblock %}

{% block additional_scripts %}
<script>
    $(document).ready(function () {
        $('#list-datatable').DataTable({
            "pagingType": "full_numbers",
            "dom": 'Bfrtip',
            "stateSave": true,
            "scrollCollapse": true,
            "buttons": [
                //'copy', 'csv', 'excel', 'pdf', 'print'
                'colvis', 'copy', 'csv', 'excel', 'print'
            ]
        });
    });
</script>

<!-- JQuery DataTable JS -->
<script src="{% static 'vendors/jquery-datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/jszip.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/jquery-datatable/buttons.colVis.min.js' %}"></script>

<!-- EZ View JS -->
<script src="{% static 'vendors/ez-view/EZView.js' %}"></script>
<script src="{% static 'vendors/ez-view/draggable.js' %}"></script>
<script src="{% static 'vendors/ez-view/ez-conf.js' %}"></script>

{% if not detail_url == None %}
<script>
    $(document).ready(function () {
        $('.point-tr').click(function () {
            window.location = $(this).attr('href');
            return false;
        });
    });
</script>
{% endif %}

{% endblock %}