<div class="main-menu menu-fixed {{ dashboard_setting.get_menu_class }} menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="{% url 'dashboard' %}">
                    <!-- <span class="brand-logo">
                    </span> -->
                    <h2 class="brand-text">{{ dashboard_setting.title }}</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                        class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
                        class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
                        data-ticon="disc"></i></a></li>
        </ul>
    </div>
    
    <div class="shadow-bottom"></div>

    <!-- BEGIN: Main-Menu-Content -->
    <nav class="main-menu-content mt-2">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'dashboard' %}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span class="menu-title text-truncate" data-i18n="Dashboard">Dashboard</span>
                </a>
            </li>

            {% if request.user.is_superuser %}

            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'users:create_user' %}">
                    <i class="fas fa-user"></i>
                    <span class="menu-title text-truncate" data-i18n="User">User</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'company:create_company' %}">
                    <i class="fas fa-building"></i>
                    <span class="menu-title text-truncate" data-i18n="Company">Company</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'service:create_service' %}">
                    <i class="fas fa-briefcase"></i>
                    <span class="menu-title text-truncate" data-i18n="Service">Service</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'deals:create_coupon' %}">
                    <i class="fas fa-font"></i>
                    <span class="menu-title text-truncate" data-i18n="Coupon">Coupon</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'deals:create_vat' %}">
                    <i class="fas fa-percentage"></i>
                    <span class="menu-title text-truncate" data-i18n="Vat">Vat</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'invoice:create_invoice' %}">
                    <i class="fas fa-file-invoice"></i>
                    <span class="menu-title text-truncate" data-i18n="Invoice">Invoice</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'utils:create_configuration' %}">
                    <i class="fas fa-cogs"></i>
                    <span class="menu-title text-truncate" data-i18n="Invoice">Configuration</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'cards:admin_card_list' %}">
                    <i class="fas fa-credit-card"></i>
                    <span class="menu-title text-truncate" data-i18n="Invoice">Service Payment List</span>
                </a>
            </li>

            {% endif %}

            {% if request.user.is_company %}

            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'invoice:company_invoice_list' %}">
                    <i class="fas fa-file-invoice"></i>
                    <span class="menu-title text-truncate" data-i18n="Invoice">Invoices</span>
                </a>
            </li>

            {% endif %}

            {% if request.user.is_authenticated and not request.user.is_superuser %}

            <li class="nav-item">
                <a class="d-flex align-items-center" href="{% url 'cards:create_card' %}">
                    <i class="fas fa-credit-card"></i>
                    <span class="menu-title text-truncate" data-i18n="Service Payment">Service Payment</span>
                </a>
            </li>

            {% endif %}

        </ul>
    </nav>
    <!-- END: Main-Menu-Content -->

</div>